<div class="container">
    <slot/>
</div>

<style>
    .container {
		background-color: #14191B;
		background-image: url("/floral.svg");
		background-blend-mode: multiply; 
		background-size: cover;
		padding: 1.2em;
		white-space: normal;
		display: flex;
    	flex-direction: column;
		box-sizing: border-box;
	}
</style>