---
import PageContainer from "./PageContainer.astro";
---

<PageContainer>
    <h1 class="titles">PROJECTS</h1>
    <h2 class="space-mono-regular">a list of my various work</h2>

    <div class="shelf">
        <div>
            hi
        </div>

        <div>
            hello!
        </div>

        <div>
            hello!
        </div>

        <div>
            hello!
        </div>

        <div>
            hello!
        </div>
    </div>
</PageContainer>

<style>
    .shelf {
        gap: 10em;
        justify-content: flex-start;
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
    }
</style>