---
import "../styles/global.css"
import PageContainer from "./PageContainer.astro"
---

<PageContainer>
	<div class="intro">
		<div class="text">
			<h1 class="titles">ABOUT ME</h1>

			<h2 class="space-mono-regular">Graduate Assistant at West Chester University</h2>
		</div>

		<img src="nyc-trip.webp" alt="Me at the Brookyln Bridge.">
	</div>

	<div>
		<h2 class="titles">EDUCATION</h2>
		<ul class="space-mono-regular">
			<li>
				Accelerated M.S. + B.S. Computer Science, Minor in Applied Statistics <br/>
				@ West Chester University, 2023-2026  <br/>
				Graudated Summa Cum Laude
			</li>

			<li>
				M.S. Computer Science <br/>
				@ West Chester University, 2025-2027
			</li>
		</ul>
	</div>
</PageContainer>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

	.intro {
		display: flex;
		flex-direction: row;
		padding-bottom: 1em;
		gap: 1em;
	}

	.intro .text {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	img {
		width: 50%;
		height: 17em;
		object-fit: cover;
	}

	li {
		border-top: 3px solid white;
		padding-top: 0.3em;
		padding-bottom: 1em;
	}

</style>
